<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="info-container">
            <div class="flex-user">
                <div><img src="../../../assets/img/user.svg" width="45" class="img-responsive" alt=""></div>
                <div class="" style="margin-left: 10px;">
                    <p class="margin-0 welcome">Bienvenido</p>
                    <p class="margin-0 nameUser">Nombre de Usuario</p>
                </div>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="active">
                <a href="/colaboradores">
                    <i class=""><img src="../../../assets/img/administradores.svg" width="22" class="img-responsive" alt=""></i>
                    <span>Colaboradores</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class=""><img src="../../../assets/img/administradores.svg" width="22" class="img-responsive" alt=""></i>
                    <span>Administradores</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/workplace">Workplaces</a>
                    </li>
                    <li>
                        <a href="/plataforma">Plataforma</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/mensajes">
                    <i class=""><img src="../../../assets/img/mensaje.svg" width="22" class="img-responsive" alt=""></i>
                    <span>Mensajes</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            <a mat-list-item (click)="openDialog()"><img style="margin: auto 4px;" src="../../../assets/img/soporte.svg" width="20" alt="">Soporte</a>
            <a (click)=cerrarSesion()><img style="margin: auto 4px;" src="../../../assets/img/salir.svg" width="20" alt="">Cerrar Sesión</a>
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->