<!-- <my-nav></my-nav>  -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-sm-12 mrgBtm30">
                    <h1>Administradores</h1>
                    <div class="TextPlataform">Plataforma</div>
                </div>
                <div class="col-sm-5">


                    <form [formGroup]="registroForm" (ngSubmit)="crearAdmin()" novalidate="novalidate">
                        <div class="flex-start2 mrg0_40">
                            <img src="../../../assets/img/add_activo.svg" width="30" class="img-responsive" alt="">
                            <h5 class="mrg0 createnew_text">Crear nuevo</h5>
                        </div>
                        <div class="SecCreateUser">
                            <div class="form-row">
                                <div class="form-group mrgBtm20">
                                    <label for="inputNombre"><img src="../../../assets/img/usuario.svg" width="16"
                                                                  class="" alt="">Nombre</label>
                                    <input type="text" class="form-control" formControlName="nombre">
                                </div>
                                <div class="form-group mrgBtm20">
                                    <label for="inputEmail"><img src="../../../assets/img/correo.svg" width="18"
                                                                 class="" alt="">Correo</label>
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                                <div class="form-group mrgBtm20">
                                    <label for="inputPassword"><img src="../../../assets/img/password.svg" width="15"
                                                                    class="" alt="">Contraseña</label>
                                    <input type="password" class="form-control"
                                           formControlName="password">
                                </div>
                                <div class="form-group mrgBtm20">
                                    <label for="inputConfirmPassword"><img src="../../../assets/img/password.svg"
                                                                           width="15" class="" alt="">Confirmar
                                        Contraseña</label>
                                    <input type="password" class="form-control"
                                           formControlName="password2">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-create">Crear</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-7">

                   <div class="UsersCreate mrgBtm20">Usuarios Creados</div>
                    <div *ngFor="let item of administradores">
                        <div class="card w-50">
                            <div class="card-body">
                                <div class="lineBlack"></div>
                                <h5 class="card-title mrgBtm10"><img src="../../../assets/img/usuario.svg" width="16"
                                                            class="" alt="">Nombre</h5>
                                <h5 class="card-title"><img src="../../../assets/img/correo.svg" width="16"
                                                            class="" alt="">{{item.email}}</h5>
                                <button class="btn_delete" (click)="eliminarAdministrador(item)">
                                    <img src="../../../assets/img/cancelar.svg" width="20" class="" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>