#wPaint {
    position: relative;
    height: calc(100vw / 1501 * 586);
    width: 100%;
}

.mar-bot-15 { margin-bottom: 15px; }

.login-page,
.fp-page {
    background-color: black;
}

/*.sidebar .user-info {
    background-image: url("../images/bg-account.jpg");
    background-size: cover;
}*/

.header-backend-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*REPORTE DE SERVICIO*/
.ReporteService{
    background: #ececec;
    margin-top: 60px;
}
.NumberOrder{
    position: absolute;
    top: 28px;
    bottom: 0;
    right: 18px;
}
.ReporteService .BgText{
    text-align: center;
    background: #293951;
    color: #fff;
    padding: 5px 10px;
    font-family: 'Exo2-Bold',sans-serif;
}
.ReporteService .BgText2{
    text-align: left;
    background: #293951;
    color: #fff;
    padding: 5px 10px;
}
.ReporteService .pad15-0 label {
    font-family: 'Exo2-Bold',sans-serif;
}
.ReporteService2 label{
    font-family: 'Exo2-regular', sans-serif!important;
}

.ReporteService .flex {
    display: flex;
    justify-content: space-between!important;
    flex-wrap: wrap;
}
.TextSize{
    font-size: 13px;
}
/*.ReporteService .max-width{
    max-width: 100px;
    position: absolute;
    right: 0;
}*/
.ReporteService .btnPrint, .ReporteService .btnPrint:hover,  .ReporteService .btnPrint:focus {
    background: #666666;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 100%;
    max-width: 170px;
    padding: 8px 20px;
    text-align: center;
    border-bottom: 2px solid #0092d3;
    display: block;
    margin: 15px auto!important;
    float: right;
}
.ReporteService .NextService {
    background: #fff;
    margin: 6px auto;
    padding: 10px 0;
}
.ReporteService .NextService p {
    font-family: 'Exo2-SemiBold', sans-serif;
    padding: 5px 15px;
    text-align: center;
}
.ReporteService .btnReserve, .ReporteService .btnReserve:hover, .ReporteService .btnReserve:focus {
    background: #0092d3;
    border: 0 solid #0092d3;
    border-radius: 0;
    display: block;
    margin: 10px auto;
    color: #fff;
    font-family: 'Exo2-Regular',sans-serif;
    font-size: 15px;
    width: 100%;
    max-width: 130px;
}
.ReporteService .max-width {
    position: absolute;
    right: 0;
    margin: auto 10px;
    top: 0;
    background: #e5e5e5;
    color: inherit;
    border-radius: 0;

}
.ReporteService .btnBack, .ReporteService .btnBack:hover, .ReporteService .btnBack:focus {
    background: #666666;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 100%;
    max-width: 170px;
    padding: 7px 20px;
    text-align: right;
    border-bottom: 2px solid #0092d3;
    display: block;
    margin: 15px auto!important;
    float: none!important;
}
.ReporteService .btnBackleft, .ReporteService .btnBackleft:hover, .ReporteService .btnBackleft:focus {
    float: left!important;
}
.ReporteService .inputStyle{
    background: #e5e5e5;
    border-radius: 0;
}
.ReporteService .inputStyle1{
    max-width: 170px;
    position: absolute;
    right: 12%;
    top: -3px;
}
.ReporteService .inputStyle2{
    max-width: 90px;
    position: absolute;
    right: 12%;
    top: -3px;
}
.ReporteService .inputStyle3{
    max-width: 90px;
    position: absolute;
    right: 12%;
    top: -3px;
}
.ReporteService .max-width1{
    width: 260px;
}
.ReporteService .max-width2{
    width: 110px;
}
.ReporteService .max-width3{
    width: 170px;
}
.ReporteService .max-width4{
    width: 140px;
}
.ReporteService .max-width5{
    width: 115px;
}
.ReporteService .form-control::-webkit-input-placeholder { color: #fff; } /* WebKit */
.ReporteService .form-control:-moz-placeholder { color: #fff; } /* Firefox 18- */
.ReporteService .form-control::-moz-placeholder { color: #fff; } /* Firefox 19+ */
.ReporteService .form-control:-ms-input-placeholder { color: #fff; } /* IE 10+ */
.ReporteService .form-control:-ms-input-placeholder { color: #fff; } /* IE 10+ */
/*.ReporteService .PosRight{
    max-width: 100px;
    position: absolute;
    right: 0;
}*/
.ReporteService .CircGreen{
    color: #88f088;
    display: inline-block;
    vertical-align: text-top;
    margin: auto 5px;
    font-size: 20px;
}
.ReporteService .CircYellow{
    color: #fff66e;
    display: inline-block;
    vertical-align: text-top;
    margin: auto 5px;
    font-size: 20px;
}
.ReporteService .CircRed{
    color: #e44c54;
    display: inline-block;
    vertical-align: text-top;
    margin: auto 5px;
    font-size: 20px;
}
.ReporteService .DisplayInline > div{
    display: inline-block;
}
.ReporteService .Space .DisplayInline{
    padding: 5px 0;
}
.ReporteService .Pad5-0{
    padding: 5px 0;
}
.ReporteService .Space1{
    background: #ececec;
    padding: 20px;
}
.ReporteService .Space1 .DisplayInline {
    padding: 5px 0;
    display: flex;
}
.ReporteService input[type="checkbox"] + label span {
    float: right;
}
.ReporteService label {
    font-family: 'Exo2-Bold',sans-serif;
}
.ReporteService .ResultInspect .DisplayInline{
    display: flex;
    justify-content: initial;
    align-items:center;
}
.boxAltered .DisplayInline{
    display: flex;
    justify-content: flex-start!important;
    align-items:center;
}

.ReporteService .ResultInspect .DisplayInline [type="radio"]:checked+label {
    padding-left: 26px;
    height: 18px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
}
.ReporteService .ResultInspect .DisplayInline [type="radio"]:not(:checked)+label {
    padding-left: 26px;
    height: 18px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
}
