<!-- <my-nav></my-nav> -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="flex-start">
                            <div class="bg_buttons">
                                <button type="button" class="btn btn-nav1">
                                    <img src="../../../assets/img/mensaje-button.svg" width="25"
                                         style="margin-right: 5px" alt="">Mensaje
                                </button>
                                <button type="button" class="btn  btn-nav1">
                                    <img src="../../../assets/img/correo-button.svg" width="25"
                                         style="margin-right: 5px" alt="">
                                    Correo
                                </button>
                                <button type="button" class="btn  btn-nav2">Enviar</button>
                            </div>
                            <div class="bg_buttons2">
                                <button type="button" class="btn  btn-nav2">Deshabilitar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="flex" style="justify-content: flex-end">
                            <img src="../../../assets/img/filtro.svg" width="25" style="margin-right: 5px" alt="">
                            <mat-form-field class="pull-right flex">

                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

                        <!-- Id Column -->
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="bg-table">Id</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="bg-table">Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator #paginator
                                   [length]="dataSource.data.length"
                                   [pageIndex]="0"
                                   [pageSize]="50"
                                   [pageSizeOptions]="[25, 50, 100, 250]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</section>