<mat-sidenav-container class="sidenav-container" *ngIf="loggedIn">
  <mat-sidenav
    #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Bienvenido</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/colaboradores" routerLinkActive="active" >Colaboradores</a>
      <!-- <a mat-list-item href="#" >Administradores</a> -->
      <a mat-list-item href="/mensajes" routerLinkActive="active">Mensajes</a>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Administradores</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" href="/workplace" routerLinkActive="active">Workplaces</a>
            <a class="dropdown-item" href="/plataforma" routerLinkActive="active">Plataforma</a>
          </div>
        </div>
      </div>
    </mat-nav-list> 
    <mat-nav-list>
      <button mat-list-item (click)="openDialog()" ><img src="../../../assets/img/soporte.svg" width="40" alt="">Soporte</button>
      <button (click)=cerrarSesion() ><img src="../../../assets/img/salir.svg" width="40" alt="">Cerrar Sesión</button>
    </mat-nav-list>        
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()" *ngIf="isHandset$ | async"> <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{message}}</span>
    </mat-toolbar>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
