<!--<my-nav></my-nav> 
<router-outlet></router-outlet>
-->
<section class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="header">
{{message}}
</div>
</div>
</div>
</section>