<!-- <my-nav></my-nav> -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <div class="col-sm-12 mrgBtm30">
                    <h1>Mensajes</h1>
                </div>
                <div class="col-sm-11 col-sm-offset-1">
                    <form [formGroup]="emailForm" class="FormMessage mrgBtm30">
                        <div class="form-group">
                            <label for="correoArea">Correo</label>
                            <div class="bgTextarea">
                                <div class="lineBlack"></div>
                                <textarea class="form-control" id="correoArea" rows="3"
                                          formControlName="correoArea"></textarea>
                                <div class="flex-end">
                                    <div class="">
                                        <a href="#" class="btn_edit" (click)="isDisabledEmail()"> Editar</a>
                                    </div>
                                    <div class="">
                                        <a href="#" class="btn_save"> Guardar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="smsForm" class="FormMessage">
                        <div class="form-group">
                            <label for="smsArea">SMS</label>
                            <div class="bgTextarea">
                                <div class="lineBlack"></div>
                                <textarea class="form-control" id="smsArea" rows="3" formControlName="smsArea"></textarea>
                                <div class="flex-end">
                                    <div class="">
                                        <a href="#" class="btn_edit" (click)="isDisabledSms()"> Editar</a>
                                    </div>
                                    <div class="">
                                        <a href="#" class="btn_save"> Guardar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>