.FormMessage label{
    font-family: 'Poppins-SemiBold', sans-serif;
    color: #4d4d4d;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.bgTextarea {
    position: relative;
    background: #f7f8f9;
    padding: 15px 20px 25px;
    width: 100%;
    max-width: 500px;
    -webkit-box-shadow: 5px 1px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 1px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 5px 1px 20px -7px rgba(0,0,0,0.75);
}
.bgTextarea textarea{
    background: #fff;
    resize: none;
    height: 100px;
}
.btn_edit, .btn_save,
.btn_edit:hover, .btn_save:hover,
.btn_edit:focus, .btn_save:focus{
    background: #c7d538;
    color: #4d4d4d;
    font-family: 'Poppins-Regular', sans-serif;
    border-radius: 25px;
    padding: 4px 20px;
    font-size: 13px;
}
.btn_save, .btn_save:hover, .btn_save:focus, .btn_save.active {
    margin-left: 12px;
}
.flex-end{
    margin-top: 20px;
}