/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'HelveticaNeue-Heavy';
    src: url('assets/fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/HelveticaNeue-Heavy.otf')  format('opentype'),
    url('assets/fonts/HelveticaNeue-Heavy.woff') format('woff'), url('assets/fonts/HelveticaNeue-Heavy.ttf')  format('truetype'), url('assets/fonts/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-LightExt';
    src: url('assets/fonts/HelveticaNeue-LightExt.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/HelveticaNeue-LightExt.otf')  format('opentype'),
    url('assets/fonts/HelveticaNeue-LightExt.woff') format('woff'), url('assets/fonts/HelveticaNeue-LightExt.ttf')  format('truetype'), url('assets/fonts/HelveticaNeue-LightExt.svg#HelveticaNeue-LightExt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('assets/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/HelveticaNeue-Medium.woff') format('woff'), url('assets/fonts/HelveticaNeue-Medium.ttf')  format('truetype'), url('assets/fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('assets/fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),  url('assets/fonts/HelveticaNeue-Roman.otf')  format('opentype'),
    url('assets/fonts/HelveticaNeue-Roman.woff') format('woff'), url('assets/fonts/HelveticaNeue-Roman.ttf')  format('truetype'), url('assets/fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('assets/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-Bold.woff') format('woff'), url('assets/fonts/Poppins-Bold.ttf') format('truetype'), url('assets/fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('assets/fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-ExtraBold.woff') format('woff'), url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype'), url('assets/fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('assets/fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-ExtraLight.woff') format('woff'), url('assets/fonts/Poppins-ExtraLight.ttf') format('truetype'), url('assets/fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('assets/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-Light.woff') format('woff'), url('assets/fonts/Poppins-Light.ttf') format('truetype'), url('assets/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-Medium.woff') format('woff'), url('assets/fonts/Poppins-Medium.ttf') format('truetype'), url('assets/fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-Regular.woff') format('woff'), url('assets/fonts/Poppins-Regular.ttf') format('truetype'), url('assets/fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/Poppins-SemiBold.woff') format('woff'), url('assets/fonts/Poppins-SemiBold.ttf') format('truetype'), url('assets/fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body { margin: 0; }

.pad0{
    padding: 0;
}
.mrg0{
    margin: 0;
}
.pad30_0{
    padding: 30px 0;
}
