.body{
    background: #c7d538;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login,
.btn-login:hover,
.btn-login.active,
.btn-login:focus{
    background: #fff;
    color: #c7d538;
    border: inherit;
    font-size: 22px;
    font-family: 'HelveticaNeue-Medium', sans-serif;
    letter-spacing: 2px;
    padding: 6px 50px;
    box-shadow: 0px 14px 10px -9px rgba(0, 0, 0, 0.2) !important;
    border-radius: 0;
}
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding: 6px 0;
    font-family: 'HelveticaNeue-Medium', sans-serif;
}
.body h3{
    font-family: 'HelveticaNeue-Heavy', sans-serif;
    letter-spacing: 2px;
    color: #fff;
}

.body .form-control::-moz-placeholder {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    color:#495057;
   letter-spacing: 1px;
    font-size: 16px;
}

.body .form-control:-ms-input-placeholder{
    font-family: 'HelveticaNeue-Medium', sans-serif;
    color:#495057;
    letter-spacing: 1px;
    font-size: 16px;
}

.body .form-control::-webkit-input-placeholder {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    color: #495057;
    letter-spacing: 1px;
    font-size: 16px;
}
.btn-forget, .btn-forget:hover,
.btn-forget.active, .btn-forget:focus{
    background: transparent;
    border: none;
    font-family: 'HelveticaNeue-Medium',sans-serif;
    color: #fff;
    margin-top: 10px;
}
.form-group-btm{
    padding-bottom: 18px;
}