<div class="body">
  <div class="col-md-4">
    <h3>INGRESO</h3>
    <div class="container pad0">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
       <div class="pad30_0">
           <div class="form-group form-group-btm">
               <input type="email" class="form-control" id="inputEmail3" autocomplete="off" placeholder="Usuario" name="email" #email="ngModel" [(ngModel)]="user.email">
           </div>
           <div class="form-group">
               <input type="password" class="form-control" id="inputPassword3" autocomplete="off" placeholder="Contraseña"  name="password" #password="ngModel" [(ngModel)]="user.password">
           </div>
       </div>
        <div class="">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-login">Ingresar</button>
          </div>
        </div>
        <div class="text-center">
          <button type="button" (click)="olvidarPassword(user.email)" class="btn btn-primary btn-forget">Olvidé mi Contraseña</button>
        </div>
      </form>
    </div>
  </div>
</div>
