<!-- <my-nav></my-nav> -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    {{message}}
    <!-- <ngx-spinner></ngx-spinner> -->
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="usuarios" matSort aria-label="Elements" >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="bg-table">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
        <!-- Username -->
        <ng-container matColumnDef="username" >
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bg-table">Username</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.mailCorpo}}</mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="bg-table">First Name</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.nombre}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      

      <mat-paginator #paginator
        [length]="usuarios.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]">
      </mat-paginator>
    </div>
  </div>
</div>
</div>
</section>